
header{
    display: flex;
    padding: 1.5em 0;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
    flex-wrap:wrap;
    .logo-header{
        width: 255px;
        height: 70px;
        img{
            max-width: 100%;
        }
    }
}

@media(max-width: 768px){ 
    header{
        .logo-header{
            width: 200px;
        }
    }
}
