@import '~assets/styles/config.scss';

header{
    @include flex;
    padding: 1.5em 0;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
    flex-wrap:wrap;
    .logo-header{
        width: 255px;
        height: 70px;
        img{
            max-width: 100%;
        }
    }
}

@media(max-width: $break-small){ 
    header{
        .logo-header{
            width: 200px;
        }
    }
}
