<div class="networks">
  <ul>
    <li>
      <a href="https://github.com/angular-medellin" target="_blank">
          <img src="assets/img/icon-github.svg" alt="github">
        </a>
    </li>
    <li>
      <a href="https://twitter.com/AngularMedellin" target="_blank">
            <img src="assets/img/icon-twitter.svg" alt="twitter">
        </a>
    </li>
    <li>
      <a href="https://gitter.im/angular-medellin/Lobby" target="_blank">
            <img src="assets/img/icon-gitter.svg" alt="gitter">
        </a>
    </li>
  </ul>
</div>