<div class="box-footer" [@showInfo]="infoState">

  <div class="btn-arrow" (click)="toggleInfo()">
    <img src="assets/img/icon-arrow.svg" alt="Up">
  </div>

  <div class="ctn-newsletter">

    <div class="text">
      Enterate de las últimas noticias de nuestra comunidad
    </div>

    <div class="form">
      <form>
        
        <input type="text" placeholder="Email">
        <button class="primary-button">Enviar</button>

      </form>
    </div>
  </div>

  <div class="ctn-networks">
      <app-social-networks></app-social-networks>
      <div class="hash">@AngularMedellín</div>
  </div>

  <div class="ctn-sponsor">
    <span>sponsor</span>
    <a href="http://yuxiglobal.com/" target="_bank">
      <img src="assets/img/yuxiglobal.png" alt="Yuxi Global">
    </a>
  </div>

</div>