<div class="box-footer" [@showInfo]="infoState">

  <div class="btn-arrow" (click)="toggleInfo()">
    <img src="assets/img/icon-arrow.svg" alt="Up">
  </div>

  <div class="ctn-newsletter">

    <div class="text">
      Enterate de las últimas noticias de nuestra comunidad
    </div>

    <div class="form">

      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">

        <form action="//juandavidherrera.us11.list-manage.com/subscribe/post?u=6b41dea739df1ec2b457d32dd&amp;id=715d2c9b13" method="post"
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Correo electrónico" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6b41dea739df1ec2b457d32dd_715d2c9b13" tabindex="-1" value=""></div>
            <input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="primary-button">

        </form>

      <!--End mc_embed_signup-->

    </div>
  </div>

  <div class="ctn-networks">
    <app-social-networks></app-social-networks>
    <div class="hash">@AngularMedellín</div>
  </div>

  <div class="ctn-sponsor">
    <span>sponsor</span>
    <a href="http://yuxiglobal.com/" target="_bank">
      <img src="assets/img/yuxiglobal.png" alt="Yuxi Global">
    </a>
  </div>

</div>