@import '~assets/styles/helpers/_variables.scss';

.box-footer{
    background-color: $white;
    bottom: -160px;
    //bottom: 0;
    @extend %flex;
    justify-content:space-around;
    height: 195px; 
    position: absolute;
    padding: 3em;
    box-sizing: border-box;
    width: 100%;
    z-index: 3;
    .btn-arrow{
        height: 47px;
        width: 47px;
        position: absolute;
        left: 50%;
        margin-left: -23px;
        top: -23px;
        cursor: pointer;
        transition: .5s ease-in-out;
        &:hover{
            @include transform(180deg);
        }
    }
    .ctn-newsletter{
        flex: 70%;
        @extend %flex;
        justify-content: space-around; 
        .text{
            flex: 40%;
            align-self: center;
            font-size: 1.3em;
        }
        .form{
            flex: 55%;
            align-self: center;
            form{
                @extend %flex;
                justify-content: space-around;
                input[type="email"]{
                    border: 0;
                    border-bottom: 1px solid $light-neutral;
                    padding: 0 .2em;
                    font-size: 1.2em;
                    font-family: $secondary-font;
                    font-weight: 100;
                    align-self: flex-end;
                    flex: 80%;
                }
                input[type="submit"]{
                    flex: 20%;
                }
            }
        }
    }
    .ctn-networks{
        flex: 22%;
        text-align: center;
        align-self: center;
        .hash{
            font-size: .8em;
            color: $neutral;
            margin-top: .5em;
        }
    }
    .ctn-sponsor{
        @extend %flex;
        flex: 8%;
        justify-content: center;
        a{
            align-self: center;
        }
    }
}

@media(max-width: $break-large){
    .box-footer{
        .ctn-newsletter{
            flex-flow: column;
            justify-content: space-between;
            .text{
                flex: 100%;
                text-align: center;
                font-size: 1.2em;
            }
            .form{
                flex-flow: column;
                width: 100%;
                input[type="email"],
                input[type="submit"]{
                    flex: 100%;
                }
                
            }
        }    
    }
}


@media(max-width: $break-medium){
    .box-footer{
        padding: 1.5em 1em;
        flex-direction: column;
        position: relative;
        bottom: 26px !important;
        height: 450px !important;
        .ctn-newsletter{
            flex-direction: column;
            .text{
                margin: 1em 0;
            }
        }
        .form{
            form{
                flex-direction: column;
                margin-bottom: 1em;
                input[type="email"]{
                    margin-bottom: 1em;
                    width: 100%;
                    margin-right: auto;
                }
            }
        }
        .ctn-networks{
            margin: 2em 0;
        }
        .ctn-sponsor{
            justify-content: center;
        }
    }
}