
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$gradientStart:#065B97;
$gradientEnd:#01182e;
$white: white;
$primary: #042433;
$accent: #00e6b7;
$neutral: #656565;
$light-primary: #08324a;
$light-accent: #8edcc1;
$light-neutral: #c2c2c2;
$main-font: 'Merriweather', serif;
$secondary-font: 'Roboto', serif;