<div class="background-home">

  <div class="wrapper-content">    
    
    <div class="content-home">

      <div class="header">
          <app-header></app-header>  
      </div>
      
      <div class="main">
        <h1>
          Más que un <span>meetup,</span> <br>
          somos una <span>comunidad</span>
        </h1>
        <div class="text-next-meetup"><a href="https://www.meetup.com/es-ES/Angular-Medellin/events/243646051/?eventId=243646051" target="_blank">Meetup #6</a> próximo sábado 07 de octubre</div>
      </div>

      <div class="networks">
        <ul>
          <li>
            <a href="https://github.com/angular-medellin" target="_blank">
              <img src="assets/img/icon-github.svg" alt="github">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/AngularMedellin" target="_blank">
                <img src="assets/img/icon-twitter.svg" alt="twitter">
            </a>
          </li>
          <li>
            <a href="https://gitter.im/angular-medellin/Lobby" target="_blank">
                <img src="assets/img/icon-gitter.svg" alt="gitter">
            </a>
          </li>
        </ul>
        <div class="hash">@AngularMedellín</div>
      </div>

    </div>

  </div>

  <app-footer-home></app-footer-home>

  <div class="back-patter"></div>
</div>

