@import '~assets/styles/config.scss';

.background-home{
    background-color: $primary;
    background: -moz-radial-gradient(center, ellipse cover, $gradientStart 0%, $gradientEnd 100%);
    background: -webkit-radial-gradient(center, ellipse cover, $gradientStart 0,$gradientEnd 100%);
    background: radial-gradient(ellipse at center, $gradientStart 0,$gradientEnd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradientStart', endColorstr='$gradientEnd',GradientType=1 );
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    .back-patter{
        background-image: url('~assets/img/pattern-back.png');
        height: 100vh;
        opacity: .8;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
}

.wrapper-content{
    box-sizing: border-box;
    height: 100%;
    left: 2.5%;
    position: absolute;
    width: 95%;
    z-index: 2;
    h1{
        color: $white;
        margin: 0;
        span{
            color: $accent;
        }
    }
    .text-next-meetup{
        color: $white;
        font-size: 1.5em;
        a{
            color: $white;
            border-bottom: 1px solid $accent;
            display: inline-block;
            font-weight:500;
            padding-bottom: .2em; 
            text-decoration: none;
            &:hover{
                color:$accent;
            }
        }
    }
}

.content-home{
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: column;
    flex-wrap:wrap;
    flex-flow: column wrap;
    height: 100%;
    justify-content:flex-start;
    .ctn-networks{
        flex: 1 100%;
    }
    .header, 
    .main{
        flex: 2 100%; 
    }
    .ctn-networks{
        .hash{
            font-size: .8em;
            color: $white;
            margin-top: .5em;
            text-align: center
        }
    }
}

@media(max-width: $break-small){
    .background-home{
        overflow: initial;
        position: static;
    }
    
    .wrapper-content{
        left: 5%;
        width: 90%;
        .text-next-meetup{
            color: $white;
            font-size: 1em;
        }
    }
}

@media(max-height: 768px){
    .content-home{
        .header, 
        .main{
            flex: 1 100%; 
        }
        .ctn-networks{
            flex: 2 100%;
        }
    }
}